@font-face{
  font-family: CookieMonster;
  src: url(../fonts/CookieMonster.ttf)
}
@font-face{
  font-family: Digitalt;
  src: url(../fonts/Digitalt.ttf)
}
@font-face{
  font-family: KCFonts;
  src: url(../fonts/KCFonts.ttf)
}
@font-face{
  font-family: TimeBurner;
  src: url(../fonts/timeburnernormal.ttf)
}
@font-face{
  font-family: Trench;
  src: url(../fonts/trench100free.ttf)
}
@font-face{
  font-family: VarianeScript;
  src: url(../fonts/VarianeScript.ttf)
}
@font-face{
  font-family: Headliner;
  src: url(../fonts/Headliner.ttf)
}
@font-face{
  font-family: Fashion;
  src: url(../fonts/Fashion.ttf)
}
@font-face{
  font-family: Hugs;
  src: url(../fonts/Hugs.ttf)
}
@font-face{
  font-family: PassionTea;
  src: url(../fonts/PassionTea.ttf)
}
@font-face{
  font-family: Fizzo;
  src: url(../fonts/Fizzo.ttf)
}
@font-face{
  font-family: CookieDough;
  src: url(../fonts/CookieDough.ttf)
}
@font-face{
  font-family: Basterds;
  src: url(../fonts/Basterds.ttf)
}
